@import url("https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Give You Glory", cursive;
}

body {
  background: #222;
  color: whitesmoke;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.images {
  position: relative;
  flex-basis: 94rem;
}

.images img {
  flex-grow: 1;
  position: relative;
  width: 30.75rem;
  height: 30.5rem;
  border: 1px solid #111;
  /*filter: grayscale(100%);*/
 /* opacity: 0.9;*/
  transition: 0.4s ease;
}

.images video {
  flex-grow: 1;
  position: relative;
  width: 30.75rem;
  height: 30.5rem;
  border: 1px solid #111;
  filter: grayscale(100%);
  transition: 0.4s ease;
}

.images img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  opacity: 1;
}

.images video:hover {
  cursor: pointer;
    filter: grayscale(0%);
    opacity: 1;
  }

.images img:active {
  transform: scale(2);
  align-self: center;
  filter: grayscale(0%);
  border: 1px solid transparent;
  z-index: 99;
}

header {
  top: 0;
  left: 0;

  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active {
  background:#fff;
  color:#2b1055;
}

.images .large {
  flex-grow: 1;
  position: relative;
  width: 93.52rem;
  height: 30.5rem;
  border: 1px solid #111;
  transition: 0.4s ease;
}

@media only screen and (max-width: 768px) and (min-width: 321px)  {
  * {
    max-width: 96%;
  }

  header ul li {
    margin-left: 0px;
  }
  header ul {
    width: 59%;
  }
  header {
    flex-wrap: wrap;
    width: 100%
  }
}